@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.app {
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-family: "poppins";
  font-weight: 600;
}

.cntry-inp {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  padding: 1em;
  border-radius: 35px;
  margin-top: 2em;
}

.wrapper {
  position: absolute;
  border-radius: 50px;
  background-color: #fdfcfc;

  margin-left: 40%;
  margin-top: 100px;
}

.details {
  background-color: black;
  margin-top: 0;
  padding: 1em;
  color: white;
}
